In [3]:
import pandas as pd
import numpy as np
import os

In [11]:
delimiter = ";"
header = None

NameError: name 'os' is not defined

In [5]:
adres = "/workspace/DeepLearningFundamentals/Datasets/50_Startups.csv"
df = pd.read_csv(adres,delimiter=";")
df

    Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0                        6,148,72,35,0,33.6,0.627,50,1
1                        6,148,72,35,0,33.6,0.627,50,1
2                         1,85,66,29,0,26.6,0.351,31,0
3                         8,183,64,0,0,23.3,0.672,32,1
4                        1,89,66,23,94,28.1,0.167,21,0
..                                                 ...
764                   10,101,76,48,180,32.9,0.171,63,0
765                       2,122,70,27,0,36.8,0.34,27,0
766                    5,121,72,23,112,26.2,0.245,30,0
767                       1,126,60,0,0,30.1,0.349,47,1
768                       1,93,70,31,0,30.4,0.315,23,0

[769 rows x 1 columns]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 769 entries, 0 to 768
Data columns (total 1 columns):
 #   Column                                                                                            Non-Null Count  Dtype
---  ------                                                                                            --------------  -----
 0   Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome  769 non-null    object
dtypes: object(1)
memory usage: 6.1+ KB

In [7]:
df.tail()

    Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
764                   10,101,76,48,180,32.9,0.171,63,0
765                       2,122,70,27,0,36.8,0.34,27,0
766                    5,121,72,23,112,26.2,0.245,30,0
767                       1,126,60,0,0,30.1,0.349,47,1
768                       1,93,70,31,0,30.4,0.315,23,0

In [8]:
df.describe()

       Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count                                                 769
unique                                                768
top                         6,148,72,35,0,33.6,0.627,50,1
freq                                                    2

In [9]:
df

    Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0                        6,148,72,35,0,33.6,0.627,50,1
1                        6,148,72,35,0,33.6,0.627,50,1
2                         1,85,66,29,0,26.6,0.351,31,0
3                         8,183,64,0,0,23.3,0.672,32,1
4                        1,89,66,23,94,28.1,0.167,21,0
..                                                 ...
764                   10,101,76,48,180,32.9,0.171,63,0
765                       2,122,70,27,0,36.8,0.34,27,0
766                    5,121,72,23,112,26.2,0.245,30,0
767                       1,126,60,0,0,30.1,0.349,47,1
768                       1,93,70,31,0,30.4,0.315,23,0

[769 rows x 1 columns]