In [1]:
import pandas as pd

seri = pd.Series(["Alfa","Beta","Gama"])
seri

0    Alfa
1    Beta
2    Gama
dtype: object

In [2]:
seri2 = pd.Series([150,200,250], index=["a","b","c"])
seri2

a    150
b    200
c    250
d    300
dtype: int64

In [3]:
df = pd.DataFrame({"Sutun1":seri,"Sutun2":seri2})
df

  Sutun1  Sutun2
0   Alfa     NaN
1   Beta     NaN
2   Gama     NaN
a    NaN   150.0
b    NaN   200.0
c    NaN   250.0
d    NaN   300.0