In [4]:
import pandas as pd

In [5]:
adres = "/workspace/DeepLearningFundamentals/preprocess.csv"
df = pd.read_csv(adres,index_col=[0])
df.head(1)

,content_id,vol_requests,event_time,title,hits,summary,is_priority,category_id,category_desc,amsl,...,end_date_date,status,Latitude,Longitude,Community Board,Community Council,Census Tract,BIN,BBL,NTA
opportunity_id,,,,,,,,,,,,,,,,,,,,,
4996,37004,50,0,Volunteers Needed For Rise Up & Stay Put! Home...,737,Building on successful events last summer and ...,NaN,NaN,NaN,NaN,...,July 30 2011,approved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 665 entries, 4996 to 5507
Data columns (total 34 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   content_id          665 non-null    int64
 1   vol_requests        665 non-null    int64
 2   event_time          665 non-null    int64
 3   title               665 non-null    object
 4   hits                665 non-null    int64
 5   summary             665 non-null    object
 6   is_priority         62 non-null     object
 7   category_id         617 non-null    float64
 8   category_desc       617 non-null    object
 9   amsl                0 non-null      float64
 10  amsl_unit           0 non-null      float64
 11  org_title           665 non-null    object
 12  org_content_id      665 non-null    int64
 13  addresses_count     665 non-null    int64
 14  locality            595 non-null    object
 15  region              665 non-null    object
 16  postalcode          659 non-null    float64
 17  primary_loc         0 non-null      float64
 18  display_url         665 non-null    object
 19  recurrence_type     665 non-null    object
 20  hours               665 non-null    int64
 21  created_date        665 non-null    object
 22  last_modified_date  665 non-null    object
 23  start_date_date     665 non-null    object
 24  end_date_date       665 non-null    object
 25  status              665 non-null    object
 26  Latitude            0 non-null      float64
 27  Longitude           0 non-null      float64
 28  Community Board     0 non-null      float64
 29  Community Council   0 non-null      float64
 30  Census Tract        0 non-null      float64
 31  BIN                 0 non-null      float64
 32  BBL                 0 non-null      float64
 33  NTA                 0 non-null      float64
dtypes: float64(13), int64(7), object(14)
memory usage: 181.8+ KB

In [7]:
df.isna().sum()

content_id              0
vol_requests            0
event_time              0
title                   0
hits                    0
summary                 0
is_priority           603
category_id            48
category_desc          48
amsl                  665
amsl_unit             665
org_title               0
org_content_id          0
addresses_count         0
locality               70
region                  0
postalcode              6
primary_loc           665
display_url             0
recurrence_type         0
hours                   0
created_date            0
last_modified_date      0
start_date_date         0
end_date_date           0
status                  0
Latitude              665
Longitude             665
Community Board       665
Community Council     665
Census Tract          665
BIN                   665
BBL                   665
NTA                   665
dtype: int64

In [8]:
df2 = df.copy()
df3 = df2.dropna(axis=1)
df4 = df3.dropna(axis=0)
df4.info()

<class 'pandas.core.frame.DataFrame'>
Index: 665 entries, 4996 to 5507
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   content_id          665 non-null    int64
 1   vol_requests        665 non-null    int64
 2   event_time          665 non-null    int64
 3   title               665 non-null    object
 4   hits                665 non-null    int64
 5   summary             665 non-null    object
 6   org_title           665 non-null    object
 7   org_content_id      665 non-null    int64
 8   addresses_count     665 non-null    int64
 9   region              665 non-null    object
 10  display_url         665 non-null    object
 11  recurrence_type     665 non-null    object
 12  hours               665 non-null    int64
 13  created_date        665 non-null    object
 14  last_modified_date  665 non-null    object
 15  start_date_date     665 non-null    object
 16  end_date_date       665 non-null    object
 17  status              665 non-null    object
dtypes: int64(7), object(11)
memory usage: 98.7+ KB

In [9]:
df4.head()

,content_id,vol_requests,event_time,title,hits,summary,org_title,org_content_id,addresses_count,region,display_url,recurrence_type,hours,created_date,last_modified_date,start_date_date,end_date_date,status
opportunity_id,,,,,,,,,,,,,,,,,,
4996,37004,50,0,Volunteers Needed For Rise Up & Stay Put! Home...,737,Building on successful events last summer and ...,Center For NYC Neighborhoods,4426,1,NY,/opportunities/4996,onetime,0,January 13 2011,June 23 2011,July 30 2011,July 30 2011,approved
5008,37036,2,0,Web designer,22,Build a website for an Afghan business,Bpeace,37026,1,NY,/opportunities/5008,onetime,0,January 14 2011,January 25 2011,February 01 2011,February 01 2011,approved
5016,37143,20,0,Urban Adventures - Ice Skating at Lasker Rink,62,Please join us and the students from Mott Hall...,Street Project,3001,1,NY,/opportunities/5016,onetime,0,January 19 2011,January 21 2011,January 29 2011,January 29 2011,approved
5022,37237,500,0,Fight global hunger and support women farmers ...,14,The Oxfam Action Corps is a group of dedicated...,Oxfam America,2170,1,NY,/opportunities/5022,ongoing,0,January 21 2011,January 25 2011,February 14 2011,March 31 2012,approved
5055,37425,15,0,Stop 'N' Swap,31,Stop 'N' Swap reduces NYC's waste by finding n...,Office of Recycling Outreach and Education,36773,1,NY,/opportunities/5055,onetime,0,January 28 2011,February 01 2011,February 05 2011,February 05 2011,approved

In [10]:
df4.isna().sum()

content_id            0
vol_requests          0
event_time            0
title                 0
hits                  0
summary               0
org_title             0
org_content_id        0
addresses_count       0
region                0
display_url           0
recurrence_type       0
hours                 0
created_date          0
last_modified_date    0
start_date_date       0
end_date_date         0
status                0
dtype: int64

In [25]:
df["hours"].value_counts()

hours
0     663
12      1
6       1
Name: count, dtype: int64