In [1]:
import pandas as pd

In [4]:
seri = pd.Series(["Alpha", "Beta", "Gamma"])
seri

0    Alpha
1     Beta
2    Gamma
dtype: object

In [10]:
seri2 = pd.Series([150,200,250], index=["a","b","c"])
seri2

a    150
b    200
c    250
dtype: int64

In [12]:
seri3 = pd.Series([150,200,250])

In [13]:
df = pd.DataFrame({"Sutun1":seri,"Sutun2":seri3})
df

  Sutun1  Sutun2
0  Alpha     150
1   Beta     200
2  Gamma     250