In [52]:
#### kütüphanelerin import edilmesi

In [53]:
import pandas as pd
import numpy as np

In [54]:
adres = "/workspace/DeepLearningFundamentals/Datasets/diabetes.csv"
# df = pd.read_csv(adres,delimiter=";",header=None)
df = pd.read_csv(adres,index_col=[0])
df

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
Pregnancies,,,,,,,,
6,148,72,35,0,33.6,0.627,50,1
6,148,72,35,0,33.6,0.627,50,1
1,85,66,29,0,26.6,0.351,31,0
8,183,64,0,0,23.3,0.672,32,1
1,89,66,23,94,28.1,0.167,21,0
...,...,...,...,...,...,...,...,...
10,101,76,48,180,32.9,0.171,63,0
2,122,70,27,0,36.8,0.340,27,0
5,121,72,23,112,26.2,0.245,30,0
1,126,60,0,0,30.1,0.349,47,1
1,93,70,31,0,30.4,0.315,23,0

In [55]:
df.head

<bound method NDFrame.head of              Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
Pregnancies
6                148             72             35        0  33.6
6                148             72             35        0  33.6
1                 85             66             29        0  26.6
8                183             64              0        0  23.3
1                 89             66             23       94  28.1
...              ...            ...            ...      ...   ...
10               101             76             48      180  32.9
2                122             70             27        0  36.8
5                121             72             23      112  26.2
1                126             60              0        0  30.1
1                 93             70             31        0  30.4

             DiabetesPedigreeFunction  Age  Outcome
Pregnancies
6                               0.627   50        1
6                               0.627   50        1
1                               0.351   31        0
8                               0.672   32        1
1                               0.167   21        0
...                               ...  ...      ...
10                              0.171   63        0
2                               0.340   27        0
5                               0.245   30        0
1                               0.349   47        1
1                               0.315   23        0

[769 rows x 8 columns]>

In [56]:
df.tail()

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
Pregnancies,,,,,,,,
10,101,76,48,180,32.9,0.171,63,0
2,122,70,27,0,36.8,0.340,27,0
5,121,72,23,112,26.2,0.245,30,0
1,126,60,0,0,30.1,0.349,47,1
1,93,70,31,0,30.4,0.315,23,0

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 769 entries, 6 to 1
Data columns (total 8 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Glucose                   769 non-null    int64
 1   BloodPressure             769 non-null    int64
 2   SkinThickness             769 non-null    int64
 3   Insulin                   769 non-null    int64
 4   BMI                       769 non-null    float64
 5   DiabetesPedigreeFunction  769 non-null    float64
 6   Age                       769 non-null    int64
 7   Outcome                   769 non-null    int64
dtypes: float64(2), int64(6)
memory usage: 54.1 KB

In [58]:
df.describe() #istatistik çıkartıyor.

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,769.000000,769.000000,769.000000,769.000000,769.000000,769.000000,769.000000,769.000000
mean,120.929779,69.109233,20.555267,79.695709,31.994668,0.472078,33.262679,0.349805
std,31.966743,19.343483,15.950358,115.204894,7.879239,0.331160,11.768101,0.477219
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,99.000000,62.000000,0.000000,0.000000,27.300000,0.244000,24.000000,0.000000
50%,117.000000,72.000000,23.000000,29.000000,32.000000,0.374000,29.000000,0.000000
75%,141.000000,80.000000,32.000000,127.000000,36.600000,0.627000,41.000000,1.000000
max,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [59]:
df.columns

Index(['Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI',
       'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [60]:
df.values

array([[148.   ,  72.   ,  35.   , ...,   0.627,  50.   ,   1.   ],
       [148.   ,  72.   ,  35.   , ...,   0.627,  50.   ,   1.   ],
       [ 85.   ,  66.   ,  29.   , ...,   0.351,  31.   ,   0.   ],
       ...,
       [121.   ,  72.   ,  23.   , ...,   0.245,  30.   ,   0.   ],
       [126.   ,  60.   ,   0.   , ...,   0.349,  47.   ,   1.   ],
       [ 93.   ,  70.   ,  31.   , ...,   0.315,  23.   ,   0.   ]])

In [ ]:
df.iloc[0:20:4]

           Administration  Marketing Spend       State     Profit
R&D Spend
165349.20       136897.80        471784.10    New York  192261.83
142107.34        91391.77        366168.42     Florida  166187.94
120542.52       148718.95        311613.29    New York  152211.77
93863.75        127320.38        249839.44     Florida  141585.52
78013.11        121597.55        264346.06  California  126992.93

In [62]:
df[(df["Age"]>50)&(df["Outcome"]==1)]

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
Pregnancies,,,,,,,,
2,197,70,45,543,30.5,0.158,53,1
8,125,96,0,0,0.0,0.232,54,1
1,189,60,23,846,30.1,0.398,59,1
5,166,72,19,175,25.8,0.587,51,1
11,143,94,33,146,36.6,0.254,51,1
4,111,72,47,207,37.1,1.390,56,1
9,171,110,24,240,45.4,0.721,54,1
8,176,90,34,300,33.7,0.467,58,1
4,134,72,0,0,23.8,0.277,60,1
4,146,92,0,0,31.2,0.539,61,1
0,105,84,0,0,27.9,0.741,62,1
8,181,68,36,495,30.1,0.615,60,1
8,196,76,29,280,37.5,0.605,57,1
5,162,104,0,0,37.7,0.151,52,1
2,158,90,0,0,31.6,0.805,66,1
7,181,84,21,192,35.9,0.586,51,1
11,155,76,28,150,33.3,1.353,51,1
2,108,80,0,0,27.0,0.259,52,1
6,194,78,0,0,23.5,0.129,59,1
4,146,78,0,0,38.5,0.520,67,1
12,140,82,43,325,39.2,0.528,58,1
5,144,82,26,285,32.0,0.452,58,1
10,148,84,48,237,37.6,1.001,51,1
7,195,70,33,145,25.1,0.163,55,1
9,145,88,34,165,30.3,0.771,53,1
10,90,85,32,0,34.9,0.825,56,1
5,187,76,27,207,43.6,1.034,53,1
6,125,76,0,0,33.8,0.121,54,1
2,197,70,99,0,34.7,0.575,62,1
8,124,76,24,600,28.7,0.687,52,1
3,176,86,27,156,33.3,1.154,52,1
7,150,78,29,126,35.2,0.692,54,1
4,145,82,18,0,32.5,0.235,70,1
9,156,86,0,0,24.8,0.230,53,1
1,168,88,29,0,35.0,0.905,52,1
5,97,76,27,0,35.6,0.378,52,1
0,123,72,0,0,36.3,0.258,52,1
6,190,92,0,0,35.5,0.278,66,1

In [64]:
import numpy as np
df["Insulin"].astype(np.float16)

Pregnancies
6       0.0
6       0.0
1       0.0
8       0.0
1      94.0
      ...
10    180.0
2       0.0
5     112.0
1       0.0
1       0.0
Name: Insulin, Length: 769, dtype: float16

In [66]:
df["BMISq"]=df["BMI"].apply(lambda x:x**2)

In [68]:
df.head()

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,BMISq
Pregnancies,,,,,,,,,
6,148,72,35,0,33.6,0.627,50,1,1128.96
6,148,72,35,0,33.6,0.627,50,1,1128.96
1,85,66,29,0,26.6,0.351,31,0,707.56
8,183,64,0,0,23.3,0.672,32,1,542.89
1,89,66,23,94,28.1,0.167,21,0,789.61

In [80]:
df = pd.read_csv("/workspace/DeepLearningFundamentals/Datasets/50_Startups.csv")

In [84]:
#1 
df["Profit"].max

<bound method NDFrame._add_numeric_operations.<locals>.max of 0     192261.83
1     191792.06
2     191050.39
3     182901.99
4     166187.94
5     156991.12
6     156122.51
7     155752.60
8     152211.77
9     149759.96
10    146121.95
11    144259.40
12    141585.52
13    134307.35
14    132602.65
15    129917.04
16    126992.93
17    125370.37
18    124266.90
19    122776.86
20    118474.03
21    111313.02
22    110352.25
23    108733.99
24    108552.04
25    107404.34
26    105733.54
27    105008.31
28    103282.38
29    101004.64
30     99937.59
31     97483.56
32     97427.84
33     96778.92
34     96712.80
35     96479.51
36     90708.19
37     89949.14
38     81229.06
39     81005.76
40     78239.91
41     77798.83
42     71498.49
43     69758.98
44     65200.33
45     64926.08
46     49490.75
47     42559.73
48     35673.41
49     14681.40
Name: Profit, dtype: float64>

In [85]:
df["Administration"].min()

51283.14

In [87]:
df["R&D Spend"].mean() #ortalaması

73721.6156