In [3]:
import pandas as pd

In [8]:
seri = pd.Series(["Alfa","Beta","Gama"])
seri

0    Alfa
1    Beta
2    Gama
dtype: object

In [18]:
# seri2 = pd.Series([100,200,350],index=["a","b","c"]) bu şekilde çalıştırılınca bir kaç hücre sonra index eşleştirmede farklı indexler göreceği için NaN verir.
seri2 = pd.Series([100,200,350])
seri2

0    100
1    200
2    350
dtype: int64

In [19]:
df = pd.DataFrame({"s1":seri,"s2":seri2})
df

     s1   s2
0  Alfa  100
1  Beta  200
2  Gama  350