In [15]:
import pandas as pd
import numpy as nm

In [16]:
datas = "/workspace/DeepLearningFundamentals/Datasets/diabetes.csv"
df = pd.read_csv(datas)
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,6,148,72,35,0,33.6,0.627,50,1
2,1,85,66,29,0,26.6,0.351,31,0
3,8,183,64,0,0,23.3,0.672,32,1
4,1,89,66,23,94,28.1,0.167,21,0
...,...,...,...,...,...,...,...,...,...
764,10,101,76,48,180,32.9,0.171,63,0
765,2,122,70,27,0,36.8,0.340,27,0
766,5,121,72,23,112,26.2,0.245,30,0
767,1,126,60,0,0,30.1,0.349,47,1
768,1,93,70,31,0,30.4,0.315,23,0

In [17]:
df.tail(3)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
766,5,121,72,23,112,26.2,0.245,30,0
767,1,126,60,0,0,30.1,0.349,47,1
768,1,93,70,31,0,30.4,0.315,23,0

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 769 entries, 0 to 768
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               769 non-null    int64
 1   Glucose                   769 non-null    int64
 2   BloodPressure             769 non-null    int64
 3   SkinThickness             769 non-null    int64
 4   Insulin                   769 non-null    int64
 5   BMI                       769 non-null    float64
 6   DiabetesPedigreeFunction  769 non-null    float64
 7   Age                       769 non-null    int64
 8   Outcome                   769 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.2 KB

In [19]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,769.000000,769.000000,769.000000,769.000000,769.000000,769.000000,769.000000,769.000000,769.000000
mean,3.847854,120.929779,69.109233,20.555267,79.695709,31.994668,0.472078,33.262679,0.349805
std,3.368280,31.966743,19.343483,15.950358,115.204894,7.879239,0.331160,11.768101,0.477219
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.244000,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,29.000000,32.000000,0.374000,29.000000,0.000000
75%,6.000000,141.000000,80.000000,32.000000,127.000000,36.600000,0.627000,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [20]:
df.dtypes

Pregnancies                   int64
Glucose                       int64
BloodPressure                 int64
SkinThickness                 int64
Insulin                       int64
BMI                         float64
DiabetesPedigreeFunction    float64
Age                           int64
Outcome                       int64
dtype: object

In [21]:
df.isna().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [24]:
df[(df["Age"]>50)&(df["Outcome"]==1)]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
9,2,197,70,45,543,30.5,0.158,53,1
10,8,125,96,0,0,0.0,0.232,54,1
14,1,189,60,23,846,30.1,0.398,59,1
15,5,166,72,19,175,25.8,0.587,51,1
25,11,143,94,33,146,36.6,0.254,51,1
40,4,111,72,47,207,37.1,1.390,56,1
44,9,171,110,24,240,45.4,0.721,54,1
54,8,176,90,34,300,33.7,0.467,58,1
94,4,134,72,0,0,23.8,0.277,60,1
116,4,146,92,0,0,31.2,0.539,61,1
130,0,105,84,0,0,27.9,0.741,62,1
187,8,181,68,36,495,30.1,0.615,60,1
207,8,196,76,29,280,37.5,0.605,57,1
208,5,162,104,0,0,37.7,0.151,52,1
222,2,158,90,0,0,31.6,0.805,66,1
237,7,181,84,21,192,35.9,0.586,51,1
260,11,155,76,28,150,33.3,1.353,51,1
285,2,108,80,0,0,27.0,0.259,52,1
320,6,194,78,0,0,23.5,0.129,59,1
364,4,146,78,0,0,38.5,0.520,67,1
376,12,140,82,43,325,39.2,0.528,58,1
389,5,144,82,26,285,32.0,0.452,58,1
459,10,148,84,48,237,37.6,1.001,51,1
499,7,195,70,33,145,25.1,0.163,55,1
517,9,145,88,34,165,30.3,0.771,53,1
543,10,90,85,32,0,34.9,0.825,56,1
547,5,187,76,27,207,43.6,1.034,53,1
561,6,125,76,0,0,33.8,0.121,54,1
580,2,197,70,99,0,34.7,0.575,62,1
585,8,124,76,24,600,28.7,0.687,52,1
589,3,176,86,27,156,33.3,1.154,52,1
604,7,150,78,29,126,35.2,0.692,54,1
667,4,145,82,18,0,32.5,0.235,70,1
677,9,156,86,0,0,24.8,0.230,53,1
703,1,168,88,29,0,35.0,0.905,52,1
720,5,97,76,27,0,35.6,0.378,52,1
758,0,123,72,0,0,36.3,0.258,52,1
760,6,190,92,0,0,35.5,0.278,66,1

In [29]:
import numpy as np
df["Insulin"].astype(np.float16)

0        0.0
1        0.0
2        0.0
3        0.0
4       94.0
       ...
764    180.0
765      0.0
766    112.0
767      0.0
768      0.0
Name: Insulin, Length: 769, dtype: float16

In [32]:
df["BMIaa"] = df["BMI"].apply(lambda x:x**2)

In [33]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,BMIaa
0,6,148,72,35,0,33.6,0.627,50,1,1128.96
1,6,148,72,35,0,33.6,0.627,50,1,1128.96
2,1,85,66,29,0,26.6,0.351,31,0,707.56
3,8,183,64,0,0,23.3,0.672,32,1,542.89
4,1,89,66,23,94,28.1,0.167,21,0,789.61