/workspace/DeepLearningFundamentals/hiking.json<br>
yukarıdaki adreste bulunan veri setinde
1. boş verilerin tespit edilmesi
2. boş verilerin sütunları silerek temizlenmesi

In [1]:
import pandas as pd

In [2]:
df = pd.read_json("/workspace/DeepLearningFundamentals/hiking.json")
df.head()

,Prop_ID,Name,Location,Park_Name,Length,Difficulty,Other_Details,Accessible,Limited_Access,lat,lon
0,B057,Salt Marsh Nature Trail,"Enter behind the Salt Marsh Nature Center, loc...",Marine Park,0.8 miles,None,<p>The first half of this mile-long trail foll...,Y,N,NaN,NaN
1,B073,Lullwater,Enter Park at Lincoln Road and Ocean Avenue en...,Prospect Park,1.0 mile,Easy,Explore the Lullwater to see how nature thrive...,N,N,NaN,NaN
2,B073,Midwood,Enter Park at Lincoln Road and Ocean Avenue en...,Prospect Park,0.75 miles,Easy,Step back in time with a walk through Brooklyn...,N,N,NaN,NaN
3,B073,Peninsula,Enter Park at Lincoln Road and Ocean Avenue en...,Prospect Park,0.5 miles,Easy,Discover how the Peninsula has changed over th...,N,N,NaN,NaN
4,B073,Waterfall,Enter Park at Lincoln Road and Ocean Avenue en...,Prospect Park,0.5 miles,Easy,Trace the source of the Lake on the Waterfall ...,N,N,NaN,NaN

In [3]:
df.isna().sum()

Prop_ID            0
Name               0
Location           0
Park_Name          0
Length             4
Difficulty         6
Other_Details      2
Accessible         0
Limited_Access     0
lat               33
lon               33
dtype: int64

In [6]:
df1 = df.dropna(axis=1)
df1.isna().sum()

Prop_ID           0
Name              0
Location          0
Park_Name         0
Accessible        0
Limited_Access    0
dtype: int64

In [7]:
df1 = df.dropna(axis=0)
df1.isna().sum()

Prop_ID           0.0
Name              0.0
Location          0.0
Park_Name         0.0
Length            0.0
Difficulty        0.0
Other_Details     0.0
Accessible        0.0
Limited_Access    0.0
lat               0.0
lon               0.0
dtype: float64

In [8]:
df.isna().sum()

Prop_ID            0
Name               0
Location           0
Park_Name          0
Length             4
Difficulty         6
Other_Details      2
Accessible         0
Limited_Access     0
lat               33
lon               33
dtype: int64

In [16]:
df3 = df.dropna(thresh=9)
df3.isna().sum()

Prop_ID            0
Name               0
Location           0
Park_Name          0
Length             0
Difficulty         0
Other_Details      0
Accessible         0
Limited_Access     0
lat               24
lon               24
dtype: int64

In [ ]:
from sklearn.impute import SimpleImputer
dfOrn = df.copy()
imputer = SimpleImputer(strategy="most_frequent")
imputer.fit_transform(dfOrn)