/workspace/DeepLearningFundamentals/preprocess1.csv

yukarıdaki adreste bulunan veriler üzerinde 
1. Boş verilerin giderilmesi
2. Kategorik verilerin nümerik verilere çevrilmesi işlemlerini gerçekleştirip;
bulunduğunuz klasör içerisinde AdSoyad.csv dosyası olarak kaydediniz.

In [25]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer

In [26]:
df = pd.read_csv("/workspace/DeepLearningFundamentals/preprocess1.csv",index_col=[0])
df.head()

,vol_requests,event_time,hits,is_priority,category_id,amsl,amsl_unit,org_title,org_content_id,addresses_count,...,hours,created_date,last_modified_date,status,Latitude,Longitude,Census Tract,BIN,BBL,NTA
0,50,0,737,NaN,NaN,NaN,NaN,Center For NYC Neighborhoods,4426,1,...,0,January 13 2011,June 23 2011,approved,NaN,NaN,NaN,NaN,NaN,NaN
1,2,0,22,NaN,1.0,NaN,NaN,Bpeace,37026,1,...,0,January 14 2011,January 25 2011,approved,NaN,NaN,NaN,NaN,NaN,NaN
2,20,0,62,NaN,1.0,NaN,NaN,Street Project,3001,1,...,0,January 19 2011,January 21 2011,approved,NaN,NaN,NaN,NaN,NaN,NaN
3,500,0,14,NaN,1.0,NaN,NaN,Oxfam America,2170,1,...,0,January 21 2011,January 25 2011,approved,NaN,NaN,NaN,NaN,NaN,NaN
4,15,0,31,NaN,4.0,NaN,NaN,Office of Recycling Outreach and Education,36773,1,...,0,January 28 2011,February 01 2011,approved,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
df.isna().sum()

vol_requests            0
event_time              0
hits                    0
is_priority           603
category_id            48
amsl                  665
amsl_unit             665
org_title               0
org_content_id          0
addresses_count         0
locality               70
region                  0
postalcode              6
primary_loc           665
display_url             0
recurrence_type         0
hours                   0
created_date            0
last_modified_date      0
status                  0
Latitude              665
Longitude             665
Census Tract          665
BIN                   665
BBL                   665
NTA                   665
dtype: int64

In [28]:
df.columns

Index(['vol_requests', 'event_time', 'hits', 'is_priority', 'category_id',
       'amsl', 'amsl_unit', 'org_title', 'org_content_id', 'addresses_count',
       'locality', 'region', 'postalcode', 'primary_loc', 'display_url',
       'recurrence_type', 'hours', 'created_date', 'last_modified_date',
       'status', 'Latitude', 'Longitude', 'Census Tract', 'BIN', 'BBL', 'NTA'],
      dtype='object')

In [29]:
df.drop(['Latitude',"org_title", 'Longitude', 'Census Tract', 'BIN', 'BBL', 
'NTA',"primary_loc",'amsl', 'region','amsl_unit',"is_priority","locality",'created_date',
 'last_modified_date','hours',"display_url",'status'],axis=1,inplace=True)

vol_requests        0
event_time          0
hits                0
category_id        48
org_content_id      0
addresses_count     0
postalcode          6
recurrence_type     0
dtype: int64

In [31]:
imputer = SimpleImputer(strategy="most_frequent")
df["category_id"]=imputer.fit_transform(df[["category_id"]])

In [32]:
df["postalcode"]=imputer.fit_transform(df[["postalcode"]])

In [33]:
df.isna().sum()

vol_requests       0
event_time         0
hits               0
category_id        0
org_content_id     0
addresses_count    0
postalcode         0
recurrence_type    0
dtype: int64

In [35]:
df.dtypes

vol_requests         int64
event_time           int64
hits                 int64
category_id        float64
org_content_id       int64
addresses_count      int64
postalcode         float64
recurrence_type     object
dtype: object

In [37]:
df.recurrence_type.unique()

array(['onetime', 'ongoing'], dtype=object)

In [39]:
le = LabelEncoder()
df["recurrence_type"]=le.fit_transform(df[["recurrence_type"]])
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 665 entries, 0 to 664
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   vol_requests     665 non-null    int64
 1   event_time       665 non-null    int64
 2   hits             665 non-null    int64
 3   category_id      665 non-null    float64
 4   org_content_id   665 non-null    int64
 5   addresses_count  665 non-null    int64
 6   postalcode       665 non-null    float64
 7   recurrence_type  665 non-null    int64
dtypes: float64(2), int64(6)
memory usage: 46.8 KB

/home/gitpod/.pyenv/versions/3.11.1/lib/python3.11/site-packages/sklearn/preprocessing/_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [40]:
df.head()

,vol_requests,event_time,hits,category_id,org_content_id,addresses_count,postalcode,recurrence_type
0,50,0,737,1.0,4426,1,10013.0,0
1,2,0,22,1.0,37026,1,10010.0,0
2,20,0,62,1.0,3001,1,10026.0,0
3,500,0,14,1.0,2170,1,2114.0,1
4,15,0,31,4.0,36773,1,10455.0,0