In [1]:
import pandas as pd 
import numpy as np

In [2]:
df=pd.read_json("/workspace/DeepLearningFundamentals/hiking.json")
df.head()

,Prop_ID,Name,Location,Park_Name,Length,Difficulty,Other_Details,Accessible,Limited_Access,lat,lon
0,B057,Salt Marsh Nature Trail,"Enter behind the Salt Marsh Nature Center, loc...",Marine Park,0.8 miles,None,<p>The first half of this mile-long trail foll...,Y,N,NaN,NaN
1,B073,Lullwater,Enter Park at Lincoln Road and Ocean Avenue en...,Prospect Park,1.0 mile,Easy,Explore the Lullwater to see how nature thrive...,N,N,NaN,NaN
2,B073,Midwood,Enter Park at Lincoln Road and Ocean Avenue en...,Prospect Park,0.75 miles,Easy,Step back in time with a walk through Brooklyn...,N,N,NaN,NaN
3,B073,Peninsula,Enter Park at Lincoln Road and Ocean Avenue en...,Prospect Park,0.5 miles,Easy,Discover how the Peninsula has changed over th...,N,N,NaN,NaN
4,B073,Waterfall,Enter Park at Lincoln Road and Ocean Avenue en...,Prospect Park,0.5 miles,Easy,Trace the source of the Lake on the Waterfall ...,N,N,NaN,NaN

In [3]:
df.isna().sum()

Prop_ID            0
Name               0
Location           0
Park_Name          0
Length             4
Difficulty         6
Other_Details      2
Accessible         0
Limited_Access     0
lat               33
lon               33
dtype: int64

In [4]:
df1=df2.dropna(axis=0)
df1.isna().sum()

NameError: name 'df2' is not defined

In [ ]:
df2 = df.copy()
df2.dropna(axis=0)

Empty DataFrame
Columns: [Prop_ID, Name, Location, Park_Name, Length, Difficulty, Other_Details, Accessible, Limited_Access, lat, lon]
Index: []

In [ ]:
df2.isna().sum()

Prop_ID            0
Name               0
Location           0
Park_Name          0
Length             4
Difficulty         6
Other_Details      2
Accessible         0
Limited_Access     0
lat               33
lon               33
dtype: int64

In [ ]:
df3["Yas"]

0     33.416667
1     32.000000
2     33.416667
3     45.000000
4     23.000000
5     12.000000
6     45.000000
7     33.416667
8     12.000000
9     45.000000
10    46.000000
11    33.416667
12    32.000000
13    32.000000
14    32.000000
15    45.000000
Name: Yas, dtype: float64

In [ ]:
from sklearn.impute import SimpleImputer
import pandas as pd


df=pd.read_csv("/workspace/DeepLearningFundamentals/Dokumanlar/01_Preprocessing/data/sample.csv")
imputer=SimpleImputer(strategy="most_frequent")#strategy boş dataları en çoğa göre düzeltmek için
imputer.fit_transform(df.loc[:,("Ulke","Cinsiyet")])
dfOrnTemiz=pd.DataFrame(data=imputer.fit_transform(df.loc[:,("Ulke","Cinsiyet")]))
df["Ulke"]=dfOrnTemiz[0]
df["Cinsiyet"]=dfOrnTemiz[1]

In [ ]:
df.head()

        Ulke Cinsiyet    Gelir   Yas  MemTip
0  İngiltere    Kadın  20000.0   NaN       1
1  İngiltere    Erkek  15000.0  32.0       2
2  İngiltere    Erkek  23000.0   NaN       3
3    Turkiye    Kadın  20000.0  45.0       1
4     Fransa    Erkek  15000.0  23.0       2

In [5]:
dfIter=df.copy()

In [6]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
le.fit(dfIter["Ulke"])
dfIter["EnUlke"] = le.transform(dfIter["Ulke"])
le.fit(dfIter["Cinsiyet"])
dfIter["EnCinsiyet"] = le.transform(dfIter["Cinsiyet"])
dfIter

KeyError: 'Ulke'