In [12]:
import pandas as pd
df = pd.read_csv("/workspace/DeepLearningFundamentals/preprocessyeni.csv")
df.head()

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea

In [33]:
df3 = df.copy()
#df3 = df2.dropna(axis=1) # sütun silme
# Import label encoder
from sklearn import preprocessing
  
# label_encoder object knows 
# how to understand word labels.
label_encoder = preprocessing.LabelEncoder()
  
# Encode labels in column 'species'.
df3['BMI Category']= label_encoder.fit_transform(df3['BMI Category'])
df3['Gender']= label_encoder.fit_transform(df3['Gender'])
#df3['Occupation']= label_encoder.fit_transform(df3['Occupation'])
df3.head()

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,1,1,27,Software Engineer,6.1,6,42,6,3,126/83,77,4200,Healthy
1,2,1,28,Doctor,6.2,6,60,8,0,125/80,75,10000,Healthy
2,3,1,28,Doctor,6.2,6,60,8,0,125/80,75,10000,Healthy
3,4,1,28,Sales Representative,5.9,4,30,8,2,140/90,85,3000,Sleep Apnea
4,5,1,28,Sales Representative,5.9,4,30,8,2,140/90,85,3000,Sleep Apnea

In [34]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy="constant", fill_value="Healthy")
imp = pd.DataFrame(imputer.fit_transform(df3[["Sleep Disorder"]]))
df3["Sleep Disorder"] = imp[0]
df3.head(100)

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,1,1,27,Software Engineer,6.1,6,42,6,3,126/83,77,4200,Healthy
1,2,1,28,Doctor,6.2,6,60,8,0,125/80,75,10000,Healthy
2,3,1,28,Doctor,6.2,6,60,8,0,125/80,75,10000,Healthy
3,4,1,28,Sales Representative,5.9,4,30,8,2,140/90,85,3000,Sleep Apnea
4,5,1,28,Sales Representative,5.9,4,30,8,2,140/90,85,3000,Sleep Apnea
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,0,36,Accountant,7.1,8,60,4,0,115/75,68,7000,Healthy
96,97,0,36,Accountant,7.2,8,60,4,0,115/75,68,7000,Healthy
97,98,0,36,Accountant,7.1,8,60,4,0,115/75,68,7000,Healthy
98,99,0,36,Teacher,7.1,8,60,4,0,115/75,68,7000,Healthy
99,100,0,36,Teacher,7.1,8,60,4,0,115/75,68,7000,Healthy

In [38]:
import category_encoders as ce 
be = ce.BinaryEncoder()
df_encoded = be.fit_transform(df3[["Occupation"]])
df_

     Occupation_0  Occupation_1  Occupation_2  Occupation_3
0               0             0             0             1
1               0             0             1             0
2               0             0             1             0
3               0             0             1             1
4               0             0             1             1
..            ...           ...           ...           ...
369             0             1             0             1
370             0             1             0             1
371             0             1             0             1
372             0             1             0             1
373             0             1             0             1

[374 rows x 4 columns]