In [2]:
import pandas as pd
adres = "/workspace/DeepLearningFundamentals/Dokumanlar/01_Preprocessing/data/samplev1.csv"
df = pd.read_csv(adres,index_col=[0])
df.head()

        Ulke Cinsiyet    Gelir        Yas  MemTip
0  İngiltere    Kadın  20000.0  33.365184       1
1  İngiltere    Erkek  15000.0  32.000000       2
2  İngiltere    Erkek  23000.0  31.049068       3
3    Turkiye    Kadın  20000.0  45.000000       1
4     Fransa    Erkek  15000.0  23.000000       2

In [3]:
df["Ulke"].value_counts()

Ulke
İngiltere    8
Turkiye      2
Almanya      2
İspanya      2
Fransa       1
Avusturya    1
Name: count, dtype: int64

In [6]:
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder()
pd.DataFrame(data=enc.fit_transform(df[["Ulke"]]).toarray()).head(7)

     0    1    2    3    4    5
0  0.0  0.0  0.0  0.0  1.0  0.0
1  0.0  0.0  0.0  0.0  1.0  0.0
2  0.0  0.0  0.0  0.0  1.0  0.0
3  0.0  0.0  0.0  1.0  0.0  0.0
4  0.0  0.0  1.0  0.0  0.0  0.0
5  0.0  0.0  0.0  0.0  1.0  0.0
6  1.0  0.0  0.0  0.0  0.0  0.0

In [9]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
ct = ColumnTransformer(transformers=["encoder", OneHotEncoder(), [0,1] ],remainder="passthrough")
ct.fit_transform(df)
#encoded = pd.DataFrame(data= ct.fit_transform(df))
#encoded

TypeError: 'OneHotEncoder' object is not iterable