In [2]:
from keras.models import Sequential
from keras.layers import Dense

model = Sequential()

model.add(Dense(10,input_dim=8,activation="relu"))

model.add(Dense(1,activation="sigmoid"))

model.compile(loss="binary_crossentropy",optimizer="adam",metrics=["accuracy"])

model.fit(X_train_scaled,y_train,epochs=200,batch_size=5)

NameError: name 'X_train_scaled' is not defined

In [ ]:
import pandas as pd
df = pd.read_csv("/workspace/DeepLearningFundamentals/Datasets/heart.csv")
df.head()

,AGE_50,MD_50,SBP_50,DBP_50,HT_50,WT_50,CHOL_50,SES,CL_STATUS,MD_62,SBP_62,DBP_62,CHOL_62,WT_62,IHD_DX,DEATH
0,42,1,110,65,64,147,291,2,8,4,120,78,271,146,2,1
1,53,1,130,72,69,167,278,1,6,2,122,68,250,165,9,1
2,53,2,120,90,70,222,342,4,8,1,132,90,304,223,2,1
3,48,4,120,80,72,229,239,4,8,2,118,68,209,227,3,1
4,53,3,118,74,66,134,243,3,8,5,118,56,261,138,2,1

In [ ]:
# BMI
columnName = "BMI"
df[columnName] = df[columnName].replace(value=df[columnName].mean(),to_replace=0)
# BloodPressure
columnName = "BloodPressure"
df[columnName] = df[columnName].replace(value=df[columnName].mean(),to_replace=0)
# Insulin
columnName = "Insulin"
df[columnName] = df[columnName].replace(value=df[columnName].mean(),to_replace=0)
# Glucose
columnName = "Glucose"
df[columnName] = df[columnName].replace(value=df[columnName].mean(),to_replace=0)
# SkinThickness
columnName = "SkinThickness"
df[columnName] = df[columnName].replace(value=df[columnName].mean(),to_replace=0)

In [ ]:
out=[]
def iqr_outliers(df):
    q1 = df.quantile(0.25)
    q3 = df.quantile(0.75)
    iqr = q3-q1
    Lower_tail = q1 - 1.5 * iqr
    Upper_tail = q3 + 1.5 * iqr
    return df[~((df<Lower_tail) | (df>Upper_tail)).any(axis=1)]
    # df2 = df[~df.isin("aykırıdeğerler")].dropna()
df_clean = iqr_outliers(df)

In [ ]:
out=[]
def iqr_outliers(df):
    q1 = df.quantile(0.25)
    q3 = df.quantile(0.75)
    iqr = q3-q1
    Lower_tail = q1 - 1.5 * iqr
    Upper_tail = q3 + 1.5 * iqr
    for i in df:
        if i > Upper_tail or i < Lower_tail:
            out.append(i)
    # return df[~((df<Lower_tail) | (df>Upper_tail)).any(axis=1)]
    return  df[~df.isin(out)].dropna(axis=0)
dfclean = df.copy()

dfclean["Age"] = iqr_outliers(df["Age"])

In [ ]:
y= df_clean["DEATH"].values
X= df_clean.drop("DEATH",axis=1)

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,stratify=y,random_state=42)

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
sc.fit(X_train)
X_train_scaled =  sc.transform(X_train)
X_test_scaled = sc.transform(X_test)

In [ ]:
from keras.models import Sequential
from keras.layers import Dense

model = Sequential()

model.add(Dense(10,input_dim=15,activation="relu"))

model.add(Dense(1,activation="sigmoid"))

model.compile(loss="binary_crossentropy",optimizer="adam",metrics=["accuracy"])

model.fit(X_train_scaled,y_train,epochs=42,batch_size=5)

2023-07-07 07:35:05.340049: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2023-07-07 07:35:05.373412: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2023-07-07 07:35:05.374337: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-07-07 07:35:06.209216: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

NameError: name 'X_train_scaled' is not defined

In [ ]:
_,accuracy = model.evaluate(X_test_scaled,y_test)

1/1 [==============================] - 0s 115ms/step - loss: 0.5209 - accuracy: 0.7692