In [4]:
import pandas as pd

In [5]:
seri=pd.Series(["a","b","c"])

seri

0    a
1    b
2    c
dtype: object

In [6]:
seri2=pd.Series(["1","2","3"])


df=pd.DataFrame({
    "stun1":seri,"stun2":seri2
    })
df

  stun1 stun2
0     a     1
1     b     2
2     c     3