In [6]:
import pandas as pd

In [7]:
df = pd.read_csv("/workspace/DeepLearningFundamentals/Dokumanlar/01_Preprocessing/data/sample.csv")
df.head()

        Ulke Cinsiyet    Gelir   Yas  MemTip
0        NaN    Kadın  20000.0   NaN       1
1        NaN    Erkek  15000.0  32.0       2
2  İngiltere      NaN  23000.0   NaN       3
3    Turkiye    Kadın  20000.0  45.0       1
4     Fransa    Erkek  15000.0  23.0       2

In [8]:
df.isna().sum()

Ulke        5
Cinsiyet    4
Gelir       1
Yas         4
MemTip      0
dtype: int64

In [9]:
df.isnull().sum()

Ulke        5
Cinsiyet    4
Gelir       1
Yas         4
MemTip      0
dtype: int64

In [ ]:
import numpy as numpy
import matplotlib.pyplot as pyplot

In [10]:
df2 = df.copy()

In [11]:
df2 = df.copy()
df2.dropna(axis=0)

         Ulke Cinsiyet    Gelir   Yas  MemTip
3     Turkiye    Kadın  20000.0  45.0       1
4      Fransa    Erkek  15000.0  23.0       2
6     Almanya    Kadın  20000.0  45.0       1
10  Avusturya    Kadın  15000.0  46.0       2
12    İspanya    Erkek  22000.0  32.0       1
14    İspanya    Erkek  22000.0  32.0       1

In [12]:
df["Yas"]

0      NaN
1     32.0
2      NaN
3     45.0
4     23.0
5     12.0
6     45.0
7      NaN
8     12.0
9     45.0
10    46.0
11     NaN
12    32.0
13    32.0
14    32.0
15    45.0
Name: Yas, dtype: float64

In [13]:
df3 = df.copy()
# df3["Yas"] = df3["Yas"].fillna(df3["Yas"].mean())

In [14]:
df3["Yas"].fillna(df3["Yas"].mean(),inplace=True)

In [15]:
df3["Yas"]

0     33.416667
1     32.000000
2     33.416667
3     45.000000
4     23.000000
5     12.000000
6     45.000000
7     33.416667
8     12.000000
9     45.000000
10    46.000000
11    33.416667
12    32.000000
13    32.000000
14    32.000000
15    45.000000
Name: Yas, dtype: float64

In [16]:
df.describe()

              Gelir        Yas     MemTip
count     15.000000  12.000000  16.000000
mean   20200.000000  33.416667   1.750000
std     3051.931473  12.536915   0.856349
min    15000.000000  12.000000   1.000000
25%    19000.000000  29.750000   1.000000
50%    22000.000000  32.000000   1.500000
75%    22500.000000  45.000000   2.250000
max    23000.000000  46.000000   3.000000

In [17]:
df4 = df.copy()
df4["Yas"].mode()[0]

32.0

In [18]:
df4["Yas"].fillna(df4["Yas"].mode()[0],inplace=True)

In [19]:
df["Yas"]

0      NaN
1     32.0
2      NaN
3     45.0
4     23.0
5     12.0
6     45.0
7      NaN
8     12.0
9     45.0
10    46.0
11     NaN
12    32.0
13    32.0
14    32.0
15    45.0
Name: Yas, dtype: float64

In [20]:
pd.DataFrame(data=[1,3,5,6,4,3,2,1],columns=["Yas"]).Yas.median()

3.0

In [21]:
df5 = df.copy()
df5["Yas"].fillna(df5["Yas"].median(),inplace=True)
df5

         Ulke Cinsiyet    Gelir   Yas  MemTip
0         NaN    Kadın  20000.0  32.0       1
1         NaN    Erkek  15000.0  32.0       2
2   İngiltere      NaN  23000.0  32.0       3
3     Turkiye    Kadın  20000.0  45.0       1
4      Fransa    Erkek  15000.0  23.0       2
5         NaN      NaN  23000.0  12.0       3
6     Almanya    Kadın  20000.0  45.0       1
7     Turkiye    Erkek  18000.0  32.0       2
8   İngiltere      NaN  23000.0  12.0       3
9     Almanya    Kadın      NaN  45.0       1
10  Avusturya    Kadın  15000.0  46.0       2
11  İngiltere      NaN  23000.0  32.0       3
12    İspanya    Erkek  22000.0  32.0       1
13        NaN    Erkek  22000.0  32.0       1
14    İspanya    Erkek  22000.0  32.0       1
15        NaN    Erkek  22000.0  45.0       1

In [22]:
veri = pd.Series(range(20))
veri.loc[2:4] = np.NaN
veri.loc[7:10] = np.NaN
veri

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "/workspace/DeepLearningFundamentals/env/lib/python3.11/site-packages/IPython/core/interactiveshell.py", line 3508, in run_code
  File "/tmp/ipykernel_40771/3898122679.py", line 2, in <module>
    veri.loc[2:4] = np.NaN
                    ^^
NameError: name 'np' is not defined

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/workspace/DeepLearningFundamentals/env/lib/python3.11/site-packages/pygments/styles/__init__.py", line 89, in get_style_by_name
ModuleNotFoundError: No module named 'pygments.styles.default'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/workspace/DeepLearningFundamentals/env/lib/python3.11/site-packages/IPython/core/interactiveshell.py", line 2105, in showtraceback
  File "/workspace/DeepLearningFundamentals/env/lib/python3.11/site-packages/IPython/core/ultratb.py", line 1428, in structured_traceback
  File "/workspace/DeepLearningFundamentals/env/lib/python3.11/site-packages/IPython/core/ultratb.py", line 1319, in structured_traceback
  File "/workspace/DeepLearningFundamentals/env/lib/python3.11/site-packages/IPython/core/ultratb.py", line 1172, in structured_traceback
  File "/workspace/DeepLearningFundamentals/env/lib/python3.11/site-packages/IPython/core/ultratb.py", line 1062, in format_exception_as_a_whole
  File "/workspace/DeepLearningFundamentals/env/lib/python3.11/site-packages/IPython/core/ultratb.py", line 1113, in get_records
  File "/workspace/DeepLearningFundamentals/env/lib/python3.11/site-packages/pygments/styles/__init__.py", line 91, in get_style_by_name
pygments.util.ClassNotFound: Could not find style module 'default', though it should be builtin.

In [23]:
veri.fillna(method="ffill")

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
dtype: int64

In [24]:
veri.fillna(method="bfill")

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
dtype: int64

In [25]:
veri.interpolate()

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
dtype: int64