In [1]:
import pandas as pd
import numpy as np

In [2]:
import pandas as pd
adres = "/workspace/DeepLearningFundamentals/preprocess1.csv"
df = pd.read_csv(adres)
df

,Unnamed: 0,vol_requests,event_time,hits,is_priority,category_id,amsl,amsl_unit,org_title,org_content_id,...,hours,created_date,last_modified_date,status,Latitude,Longitude,Census Tract,BIN,BBL,NTA
0,0,50,0,737,NaN,NaN,NaN,NaN,Center For NYC Neighborhoods,4426,...,0,January 13 2011,June 23 2011,approved,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2,0,22,NaN,1.0,NaN,NaN,Bpeace,37026,...,0,January 14 2011,January 25 2011,approved,NaN,NaN,NaN,NaN,NaN,NaN
2,2,20,0,62,NaN,1.0,NaN,NaN,Street Project,3001,...,0,January 19 2011,January 21 2011,approved,NaN,NaN,NaN,NaN,NaN,NaN
3,3,500,0,14,NaN,1.0,NaN,NaN,Oxfam America,2170,...,0,January 21 2011,January 25 2011,approved,NaN,NaN,NaN,NaN,NaN,NaN
4,4,15,0,31,NaN,4.0,NaN,NaN,Office of Recycling Outreach and Education,36773,...,0,January 28 2011,February 01 2011,approved,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
660,660,3,0,197,NaN,2.0,NaN,NaN,New York Legal Assistance Group,104,...,0,August 16 2011,August 17 2011,approved,NaN,NaN,NaN,NaN,NaN,NaN
661,661,10,0,113,NaN,1.0,NaN,NaN,Iridescent,38544,...,0,March 21 2011,March 21 2011,approved,NaN,NaN,NaN,NaN,NaN,NaN
662,662,1,0,145,NaN,2.0,NaN,NaN,"Services for the UnderServed, Inc.",38951,...,0,July 20 2011,August 23 2011,approved,NaN,NaN,NaN,NaN,NaN,NaN
663,663,2,0,330,NaN,1.0,NaN,NaN,World Cares Center,36979,...,0,June 01 2011,August 09 2011,approved,NaN,NaN,NaN,NaN,NaN,NaN
664,664,5,0,304,NaN,1.0,NaN,NaN,Mayor's Office of Adult Education,43738,...,0,July 07 2011,July 07 2011,approved,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.isna().sum()

Unnamed: 0              0
vol_requests            0
event_time              0
hits                    0
is_priority           603
category_id            48
amsl                  665
amsl_unit             665
org_title               0
org_content_id          0
addresses_count         0
locality               70
region                  0
postalcode              6
primary_loc           665
display_url             0
recurrence_type         0
hours                   0
created_date            0
last_modified_date      0
status                  0
Latitude              665
Longitude             665
Census Tract          665
BIN                   665
BBL                   665
NTA                   665
dtype: int64

In [4]:
df1 = df.dropna(axis=1)
df1.isna().sum()

Unnamed: 0            0
vol_requests          0
event_time            0
hits                  0
org_title             0
org_content_id        0
addresses_count       0
region                0
display_url           0
recurrence_type       0
hours                 0
created_date          0
last_modified_date    0
status                0
dtype: int64

In [8]:
from sklearn.impute import SimpleImputer
dfOrn = df1.copy()
imputer = SimpleImputer(strategy="most_frequent")
imputer.fit_transform(dfOrn)

array([[0, 50, 0, ..., 'January 13 2011', 'June 23 2011', 'approved'],
       [1, 2, 0, ..., 'January 14 2011', 'January 25 2011', 'approved'],
       [2, 20, 0, ..., 'January 19 2011', 'January 21 2011', 'approved'],
       ...,
       [662, 1, 0, ..., 'July 20 2011', 'August 23 2011', 'approved'],
       [663, 2, 0, ..., 'June 01 2011', 'August 09 2011', 'approved'],
       [664, 5, 0, ..., 'July 07 2011', 'July 07 2011', 'approved']],
      dtype=object)

In [9]:
dfOrn.isna().sum()

Unnamed: 0            0
vol_requests          0
event_time            0
hits                  0
org_title             0
org_content_id        0
addresses_count       0
region                0
display_url           0
recurrence_type       0
hours                 0
created_date          0
last_modified_date    0
status                0
dtype: int64