In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("/workspace/DeepLearningFundamentals/Dokumanlar/01_Preprocessing/data/sample.csv")
df

         Ulke Cinsiyet    Gelir   Yas  MemTip
0         NaN    Kadın  20000.0   NaN       1
1         NaN    Erkek  15000.0  32.0       2
2   İngiltere      NaN  23000.0   NaN       3
3     Turkiye    Kadın  20000.0  45.0       1
4      Fransa    Erkek  15000.0  23.0       2
5         NaN      NaN  23000.0  12.0       3
6     Almanya    Kadın  20000.0  45.0       1
7     Turkiye    Erkek  18000.0   NaN       2
8   İngiltere      NaN  23000.0  12.0       3
9     Almanya    Kadın      NaN  45.0       1
10  Avusturya    Kadın  15000.0  46.0       2
11  İngiltere      NaN  23000.0   NaN       3
12    İspanya    Erkek  22000.0  32.0       1
13        NaN    Erkek  22000.0  32.0       1
14    İspanya    Erkek  22000.0  32.0       1
15        NaN    Erkek  22000.0  45.0       1

In [3]:
df.isna().count()

Ulke        16
Cinsiyet    16
Gelir       16
Yas         16
MemTip      16
dtype: int64

In [4]:
df.isnull().sum()

Ulke        5
Cinsiyet    4
Gelir       1
Yas         4
MemTip      0
dtype: int64

In [8]:
df2= pd.read_json("/workspace/DeepLearningFundamentals/hiking.json")

In [12]:
df2.isnull().sum().sum()

78

In [16]:
df2.dropna(axis=1,"Length")

SyntaxError: positional argument follows keyword argument (3503694340.py, line 1)

In [14]:
df2.isnull().sum()

Prop_ID            0
Name               0
Location           0
Park_Name          0
Length             4
Difficulty         6
Other_Details      2
Accessible         0
Limited_Access     0
lat               33
lon               33
dtype: int64

In [22]:
df1= df2.dropna(axis=1)
df1.isna().sum()

Prop_ID           0
Name              0
Location          0
Park_Name         0
Accessible        0
Limited_Access    0
dtype: int64